<% layout("/layouts/boilerplate") %>
    <div class="edit-container">
        <form action="/home/<%=videoDetails._id%>?_method=PUT" method="POST" class="needs-validation edit-form" novalidate>
        <h1 class="edit-title">Edit Your Video's Details</h1>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" value="<%=videoDetails.title%>" name="edit[title]" class="form-control edit-input" required>
            <div class="invalid-feedback">
              Please provide a valid title for your video.
            </div>
            <div class="valid-feedback">
              Looks Good
            </div>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" value="<%=videoDetails.description%>" name="edit[description]" class="form-control edit-input" required>
            <div class="invalid-feedback">
              Please provide a valid description for your video.
            </div>
            <div class="valid-feedback">
              Looks Good
            </div>
        </div>

        <div class="form-group">
            <label for="edit[thumbnail]">Thumbnail URL</label>
            <input type="url" name="edit[thumbnail]" value="<%=videoDetails.thumbnail%>" class="form-control edit-input" required>
            <div class="invalid-feedback">
              Please provide a valid URL for your thumbnail.
            </div>
        </div>

        <button type="submit" class="edit-btn" onclick="createRipple(event)">Edit</button>
        </form>
    </div>

    <script>
        function createRipple(event) {
            const button = event.currentTarget;
            const circle = document.createElement("span");
            const diameter = Math.max(button.clientWidth, button.clientHeight);
            const radius = diameter / 2;

            circle.style.width = circle.style.height = `${diameter}px`;
            circle.style.left = `${event.clientX - button.offsetLeft - radius}px`;
            circle.style.top = `${event.clientY - button.offsetTop - radius}px`;
            circle.classList.add("ripple");

            const ripple = button.getElementsByClassName("ripple")[0];

            if (ripple) {
                ripple.remove();
            }

            button.appendChild(circle);
        }
    </script>
