<%- layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-12">
        <div class="err">
        <h1 class="text-center">Error: <%=err.message%></h1>
        </div>
    </div>
</div>