<% layout("/layouts/boilerplate") %>
    <h1>HOME</h1>
    <%for(let video of allVideos){%>
        
        <img src="<%=video.thumbnail%>" alt="thumbnails">
        <p class="mt-2"><%=video.title%></p>
        <form action="/home/<%=video._id%>" method="GET">
            <button class="mb-3">Show</button>
        </form>

        <%}%>