<% layout("/layouts/boilerplate") %>
<div class="container-fluid px-3">
    <div class="row g-3">
    <%for(let video of allVideos){%>
        
            
        <div class="card col-12 col-md-6 col-lg-4 col-xl-4 mb-4">
            <a href="/home/<%=video._id%>">
  
  <div class="card h-100">
    <img src="<%=video.thumbnail%>" class="card-img-top card" alt="thumbnails">
        <!-- <img src="" alt="thumbnails"> -->
        <div class="card-body">
        <h5 class="card-title"><%=video.title%></h5>
        </div>
        </div>
        </a>
</div>

<%}%>
</div>
</div>