<% layout("/layouts/boilerplate") %>
<div class="container-fluid px-3">
    <div class="video-grid">
        <% for (let video of allVideos) { %>
            <a href="/home/<%= video._id %>" class="video-link">
                <article class="video-card">
                    <div class="video-card-media">
                        <img src="<%= video.thumbnail %>" class="card-img-top" alt="<%= video.title %> thumbnail">
                        <span class="video-badge">Watch</span>
                    </div>
                    <div class="video-card-details">
                        <h5 class="card-title"><%= video.title %></h5>
                    </div>
                </article>
            </a>
        <% } %>
    </div>
</div>