<% layout("/layouts/boilerplate") %>
    <h1>HOME</h1>
    <%for(let video of allVideos){%>
        <p><%=video.title%></p>
        <img src="<%=video.thumbnail%>" alt="thumbnails">
        <form action="/home/show/<%=video._id%>" method="GET">
            <button>Show</button>
        </form>

        <%}%>