<% layout("/layouts/boilerplate") %>

<div class="signup-container">
    <form action="/login" method="POST" class="needs-validation login-form" novalidate>
        <h1 class="login-title">Login Your account</h1>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control signup-input" required>
            <div class="invalid-feedback">
              Please provide a valid username.
            </div>
            <div class="valid-feedback">
              Looks Good
            </div>
        </div>

       

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control signup-input" required>
            <div class="invalid-feedback">
              Please provide a valid password.
            </div>
        </div>

        <button type="submit" class="signup-btn" onclick="createRipple(event)">Sign Up</button>
    </form>