<% layout("/layouts/boilerplate") %>
    <h1>Upload Your Video</h1>
    <form action="/home" method="POST">
        <input type="url" name="new[video][url]" id="url" placeholder="enter your video's URL">
        <input type="text" name="new[title]" id="title" placeholder="enter your title">
        <input type="text" name="new[description]" id="description" placeholder="enter your description">
        <input type="url" name="new[thumbnail]" id="thumbnail" placeholder="enter your thumbnail URL">
        <button>Upload</button>
    </form>
