<footer class="compact-footer">
    <div class="footer-container-compact">
        <div class="footer-section-compact">
            <span class="footer-text">© 2026 StreamHub</span>
        </div>

        <div class="footer-links-compact">
            <a href="#" title="Privacy Policy">Privacy</a>
            <span class="divider">•</span>
            <a href="#" title="Terms of Service">Terms</a>
            <span class="divider">•</span>
            <a href="#" title="Cookie Policy">Cookies</a>
        </div>

        <div class="footer-socials-compact">
            <a href="#" class="social-icon" title="Facebook">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="#" class="social-icon" title="Instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#" class="social-icon" title="Twitter">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>
    </div>
</footer>