<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .terms {
            text-decoration: none;
            text-align: center;
            justify-content: center;
        }
        a{
            text-decoration: none;
            color: black;
        }
        .para{
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <footer class="py-3 my-4">
            <!-- <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item">
                    <a class="nav-link px-2 text-muted" href="#"></i><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-muted" href="#"><i class="fa-brands fa-twitter"></i></a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link px-2 text-muted" href="#"><i class="fa-brands fa-facebook"></i></a>
                </li>
            </ul> -->
            <div class="terms"><a href="#">Terms and Conditions</a></div>
            <p class="text-center text-muted para">&copy; 2023 My Streaming App, Inc. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>